// header
$primary-color: #4d4d4d;
$logo-text-color: #000000;
$menu-text-color: #4d4d4d;
// intro
$intro-text-color: #4d4d4d;
$intro-description-color: #9f9f9f;
$intro-btn-hover-color: #ffffff;
$btn-hover-shadow: rgba(0, 0, 0, 0.1);
// services
$services-title-color: #717171;
$title-hyphen-color: #949494;
// testimonials
$testimonials-bg-color: #f6f6f6;
$testimonials-border-color: #212121;
$testimonials-auther-color: #373737;
$testimonials-text-color: #7a7a7a;
$testimonials-btn-border: #212121;
// footer
$footer-hyphen-color: #969696;
$footer-title-color: #ffffff;
$form-text-color: #4d4d4d;
$form-input-hover: #0084b4;
$footer-btn-color: #ffffff;
$social-btn-hover: #0084b4;